@charset "UTF-8";
/** Этот файл обнуляет стандартные отступы и отступы отступов,  */
/** устанавливает базовый размер шрифта в 100%,  */
/** убирает стили списков и т. д. */
/*! Reset styles */
/* *,
*::before,
*::after {
    box-sizing: inherit;
} */
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Playfair Display";
  font-size: 14px;
  color: #626262;
  background-color: #ffe2fe;
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media screen and (min-width: 450px) {
  .container {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  padding-top: 15px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 71px;
    padding-bottom: 92px;
  }
}
.header .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  outline: 1px dashed #2a2a2a;
}
@media screen and (min-width: 768px) {
  .header .nav-list {
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .header .nav-list {
    width: 555px;
  }
}
.header .nav-list__link {
  text-transform: uppercase;
  color: #7d7d7d;
}
.header .nav-list__item:hover .nav-list__link {
  color: #03a9f4;
}

.gallery {
  margin-bottom: 66px;
}
.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .container .gallery-title {
  display: none;
}
.gallery .container .gallery-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 65px;
}
@media screen and (min-width: 768px) {
  .gallery .container .gallery-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery .container .gallery-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 130px;
  }
}
.gallery .container .gallery-list__item {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  outline: 2px dashed #00bbbb;
}
@media screen and (min-width: 768px) {
  .gallery .container .gallery-list__item {
    flex-basis: calc((100% - 65px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery .container .gallery-list__item {
    flex-basis: calc((100% - 130px) / 3);
  }
}
.gallery .container .gallery-list__img {
  margin-bottom: 62px;
}
.gallery .container .gallery-list__link {
  display: block;
  margin-bottom: 32px;
  font-family: "Ubuntu";
  font-weight: 300;
  color: #b4ad9e;
}
.gallery .container .gallery-list__title {
  flex-grow: 1;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gallery .container .gallery-button {
  align-self: center;
  padding: 20px 48px 21px 48px;
  font-size: 1.5rem;
  background-color: inherit;
  margin-top: 90px;
  color: red;
  background-color: aqua;
}/*# sourceMappingURL=main.css.map */