//? section gallery CSS
.gallery {
    margin-bottom: 66px;
    /* background-color: rgb(218, 255, 218); */
}

.gallery-title {
    display: none;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 65px;
    row-gap: 130px;
}
.gallery-list-item {
    flex-basis: calc((100% - 65px) / 2);
}

.gallery-list-item-img {
    margin-bottom: 62px;
}

.gallery-list-item-link {
    display: block;
    margin-bottom: 32px;
    font-family: var(--second-family);
    font-weight: 300;
    color: var(--color-third);
}

.gallery-list-item-title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flex-colum-container {
    display: flex;
    flex-direction: column;
}

.gallery-button {
    align-self: center;
    margin-top: 90px;
    padding: 20px 48px 21px 48px;
    background-color: inherit;
}