.gallery {
    margin-bottom: 66px;

    .container {
        @include flex_FDcol-AIcen;

        .gallery-title {
            display: none;
        }

        .gallery-list {
            //* До 767px
            // @media screen and (max-width: 767px) {
            // @media screen and (max-width: calc(#{getBreakPoint('tablet')} - 1px)) {
                @include flex_FDcol-AIcen;
                row-gap: 65px;
            // }
            //todo  outline-міксін 
            // @include outline(2px, dotted, tomato);
            
            //! Медіа-запити
            //* Від 768px
            @media screen and (min-width: getBreakPoint('tablet')) {
                @include flex_FWw;
                column-gap: 65px;
            }
            //* Від 1200px
            @media screen and (min-width: getBreakPoint('desktop')) {
                @include flex_FWw;
                row-gap: 130px;
            }

            &__item {
                //* До 767px
                flex-basis: 100%;
                @include flex_FDcol;
                align-self: stretch;
                //todo  outline-міксін 
                @include outline(2px, dashed, #00bbbb);
                
                //! Медіа-запити
                //* Від 768px
                @media screen and (min-width: getBreakPoint('tablet')) {
                    flex-basis: calc((100% - 65px) / 2);
                }
                //* Від 1200px
                @media screen and (min-width: getBreakPoint('desktop')) {
                    flex-basis: calc((100% - 130px) / 3);
                }
            }

            &__img {
                margin-bottom: 62px;
            }

            &__link {
                display: block;
                margin-bottom: 32px;
                font-family: getFont('second-family');
                font-weight: 300;
                color: getColor('third');
            }

            &__title {
                flex-grow: 1;
                margin-bottom: 40px;
                font-weight: 400;
                font-size: 30px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        .gallery-button {
            @include buttons;
            margin-top: 90px;
            color: red;
            background-color: aqua;
        }
    }
}
