//! section gallery SCSS
.gallery {
    margin-bottom: 66px;

    .container {
        //!  SASS-flex - Використання міксіна:
        @include flex_FDcol;

        .gallery-title {
            display: none;
        }

        .gallery-list {
            //!  SASS-flex- Використання міксіна:
            @include flex_FWw;
            column-gap: 65px;
            row-gap: 130px;
            //! SASS-outline - міксін var.1 
            @include outline(2px, dotted, tomato);
            
            &__item {
                flex-basis: calc((100% - 65px) / 2);
                //! ДОДАВАННЯ ФОНОВИХ ЗОБРАЖЕНЬ
                //todo var.2 - Використання Міксін + @each - цикл для додавання фонових зображень
                @include galleryItemNumber($numbers);
                background-repeat: no-repeat;
                //* Інтерполяція значення змінної (правильний синтаксис):
                background-position: right calc(50% + #{$gallery-item-indentation});
            }

            &__img {
                margin-bottom: 62px;
            }
            
            &__link {
                display: block;
                margin-bottom: 32px;
                font-family: var(--second-family);
                font-weight: 300;
                color: var(--color-third);
            }
            
            &__title {
                margin-bottom: 40px;
                font-weight: 400;
                font-size: 30px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        //* +++++ СТИЛІЗАЦІЯ КНОПКИ - 2-й варіант +++++
        .gallery-button {
            @include buttons;
            margin-top: 90px;
            color: red;
            background-color: aqua;
        }
    }
}
