// .container {
//     width: 905px;
//     margin: 0 auto;
//     //! SASS-outline - міксін var.1 
//     // @include outline();
// }


// .container {
//     width: 100%;
//     min-width: 320px;
//     // padding: 0 15px;
//     margin: 0 auto;
//     //! SASS-outline - міксін var.1 
//     // @include outline();

//         //! Медіа-запити
//         @media screen and (min-width: $mobile) {
//             width: 480px;
//         }
        
//         @media screen and (min-width: $tablet) {
//             width: 768px;
//         }
        
//         @media screen and (min-width: $desktop) {
//             width: 1200px;
//         }
// }


.container {
    width: 100%;
    min-width: 320px;
    // padding: 0 15px;
    margin: 0 auto;
    //! SASS-outline - міксін var.1 
    // @include outline();

        //! Медіа-запити
        //? var-03.map-get --> getBreakPoint
        @media screen and (min-width: getBreakPoint('mobile')) {
            max-width: getBreakPoint('mobile');
            // width: 480px;
        }
        
        @media screen and (min-width: getBreakPoint('tablet')) {
            max-width: getBreakPoint('tablet');
            // width: 768px;
        }
        
        @media screen and (min-width: getBreakPoint('desktop')) {
            max-width: getBreakPoint('desktop');
            // width: 1200px;
        }
}