//? OLD container
// .container {
//     width: 905px;
//     margin: 0 auto;
//     //todo  outline-міксін  
//     // @include outline();
// }

//? Найпростіший варіант
// .container {
//     width: 100%;
//     min-width: 320px;
//     padding: 0 30px;
//     margin: 0 auto;
//     outline: 1px solid tomato;
    
//     //! Медіа-запити
//     @media screen and (min-width: 480px) {
//         width: 480px;
//         outline: 1px solid green;
//     }
    
//     @media screen and (min-width: 768px) {
//         width: 768px;
//         outline: 1px solid blue;
//     }
    
//     @media screen and (min-width: 1200px) {
//         width: 1200px;
//         outline: 1px solid yellow;
//     }
// }


.container {
    width: 100%;
    min-width: 320px;
    padding: 0 30px;
    margin: 0 auto;
    //todo  outline-міксін 
    @include outline();
        
        //! Медіа-запити
        //? var-03.map-get --> getBreakPoint
        @media screen and (min-width: getBreakPoint('mobile')) {
            max-width: getBreakPoint('mobile');
            // width: 480px;
            @include outline($color:green);
        }
        
        @media screen and (min-width: getBreakPoint('tablet')) {
            max-width: getBreakPoint('tablet');
            // width: 768px;
            @include outline($color:blue);
        }
        
        @media screen and (min-width: getBreakPoint('desktop')) {
            max-width: getBreakPoint('desktop');
            // width: 1200px;
            @include outline($color:yellow);
        }
}
