//? ==============  var-02. map-get ==============
// * ================= fonts ===================
$fonts: (
    font-family: "Playfair Display",
    second-family: "Ubuntu",
);
// * ================= colors ==================
$colors: (
    main:#626262,
    second:#7d7d7d,
    third:#b4ad9e,
    hover:#03a9f4,
);
//? _______________________________________________



//? ======== var-03. map-get --> getColor ========
// * ================= fonts ===================
@function getFont($key) {
    @return map-get($fonts, $key);
}
// * ================= colors ==================
@function getColor($key) {
    @return map-get($colors, $key);
}
//? _______________________________________________



